<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Odkazy</h3>

        <ul>
          {% include menu.html %}
        </ul>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <h3>Kontakt</h3>
        <p>
          <strong>Pražský Tyrannus Hall</strong><br>
          Stoliňská 41b<br>
          Praha 9<br>
          193 00<br>
          <br>
          IČ: 26519224<br>
          Bankovní spojení: 170214618/0300
        </p>
      </div>
    </div>
  </div>
</footer>