<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h3>Odkazy</h3>

        <ul>
          {% include menu.html %}
          <li>&nbsp;</li>
          <li><a href="https://www.facebook.com/prazsky.tyrannus.hall/">Facebook</a></li>
          <li><a href="https://github.com/pth-cz/pth-cz.net">GitHub</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3><a href="{{ site.baseurl }}/clanky/">Články</a></h3>
        <ul>
          {% for post in site.posts|limit:8 %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate: 80 }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        <h3><a href="{{ site.baseurl }}/kontakt/">Kontakt</a></h3>
        <p>
          <strong>Pražský Tyrannus Hall</strong><br>
          Stoliňská 41b<br>
          Praha 9<br>
          193 00<br>
          <br>
          IČ: 26519224<br>
          Bankovní spojení: 170214618/0300<br>
        </p>
      </div>
    </div>
  </div>
</footer>
