@font-face {
  font-family: 'logo';
  src:    url($base-url + '/fonts/logo.eot?h74vvo');
  src:    url($base-url + '/fonts/logo.eot?h74vvo#iefix') format('embedded-opentype'),
  url($base-url + '/fonts/logo.ttf?h74vvo') format('truetype'),
  url($base-url + '/fonts/logo.woff?h74vvo') format('woff'),
  url($base-url + '/fonts/logo.svg?h74vvo#logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'logo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-logo:before {
  content: "\e900";
}

