---
title: Vedení, Tyranni a Ex-Tyranni
permalink: /tyranni/
redirect_from:
  - "m=11.html"
  - "m=11.html"
---

<div class="tyranns">
  <h2>Vedení</h2>

  <div class="row">
    <div class="vedeni">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <img src="{{ site.baseurl }}/images/tyranni/grulich-tomas.jpg" alt="Tomáš Grulich" class="img-circle">

          <div class="caption">
            <h3>Tomáš Grulich</h3>

            <p>ředitel PTH</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{{ site.baseurl }}/images/tyranni/olsen-stephen.jpg" alt="Stephen Olsen" class="img-circle">

          <div class="caption">
            <h3>Stephen Olsen</h3>

            <p>ředitel Tyrannus Halls International</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <h2>Současní Tyranni</h2>
    </div>
  </div>

  <div class="row">
    {% for x in site.data.tyranni reversed %}
      {% if x.end == null %}
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="{{ site.baseurl }}/images/tyranni/{{ x.image|default:'unknown.jpg' }}" alt="{{ x.name }}" class="img-circle">

            <div class="caption">
              <h3>{{ x.name }}</h3>

              <p>({{ x.start }} — nyní)</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>


  <h2>Ex-Tyranni</h2>

  <div class="row">
    {% for x in site.data.tyranni %}
      {% if x.end != null %}
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="{{ site.baseurl }}/images/tyranni/{{ x.image|default:'unknown.jpg' }}" alt="{{ x.name }}" class="img-circle">

            <div class="caption">
              <h3>{{ x.name }}</h3>

              <p>({{ x.start }} — {{ x.end }})</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>


  <p class="tyranns__overall">To nám dělá celkem <strong>{{ site.data.tyranni|size }}</strong> tyrannů!</p>
</div>

